<a href="https://colab.research.google.com/github/ctun3610-byte/MMDT_T-PY101_Batch03/blob/main/chan_min_tun_Ex02_Homework_txt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [114]:
my_string = ("My name is python")
print("length of the string - ",len(my_string))

length of the string -  17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [125]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
s.lower()
s = s.lower()
print("The number of times 'python' appears - ",s.count("python"))

The number of times 'python' appears -  2

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [124]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ["apple", "banana", "cherry", "apple", "cherry"]
new_list = ls1 + ls2
print("Number of Elements in new list - ",len(new_list))

Number of Elements in new list -  8

Ex 4: Create a dictionary for the following table:

In [119]:
people_dict = {"Myo":32, "Thida":64}
print("Dictionary - ",(people_dict))

Dictionary -  {'Myo': 32, 'Thida': 64}

Ex 5: Combine two sets and print the combined set and its length. set1 = {"Name", "age", "Height"} set2 = {"Name", "status", "Education"}

In [120]:
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}
combined_set = set1.union(set2)
print("Combined Set = ", combined_set)
set_length = len(combined_set)
print("Combined Set length = ",set_length)

Combined Set =  {'Name', 'Height', 'status', 'Education', 'age'}
Combined Set length =  5

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [121]:
user_string = input("Enter a string - ")
new_string = user_string[0] + "*" + user_string[2:] + "!!!"
print(new_string)

Enter a string - Hello
H*llo!!!

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [122]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

s = s.lower()
s = s.replace("."," ")
s = s.replace("-"," ")
s = s.replace(","," ")
s = s.replace(";"," ")
resulting_string = s
print(resulting_string)

floating point values in python are always done in double precision  hence  python float types correspond to doubles in a c like language

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [123]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,101))

missing_number = (set(L1).difference(set(L2)))
print("The Missing Number is ", missing_number)

The Missing Number is  {4}

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [103]:
ls1 = ["apple", "banana", "cherry"]
new_list = ls1.copy()
new_list.append("blueberry")

print("Original list = ", ls1)
print("New list = ", new_list)

Original list =  ['apple', 'banana', 'cherry']
New list =  ['apple', 'banana', 'cherry', 'blueberry']